body {
  background-color: #323238;
  color: #ddd;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  background-color: rgba(0, 110, 255, 0.323);
  margin-top: 50px;
  padding: 25px;
  width: 70vw;
}
input,
button {
  width: 30vw;
  height: 25px;
  background-color: rgba(169, 204, 250, 0.323);
  color: #ddd;
  border: none;
  margin-top: 10px;
  border-radius: 2px;
}

a {
  color: inherit;
}

::placeholder {
  color: #a3a3a3;
}
